
<!DOCTYPE html>
<html>
<head>
    <title>CoinCap Data</title>
</head>
<body>
    <h1>CoinCap Data</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price (USD)</th>
            <th>Change (24Hr) (%)</th>
            <th>VWAP (24Hr)</th>
        </tr>
        {% for coin in coins %}
        <tr>
            <td>{{ coin.name }}</td>
            <td><img src="//assets.coincap.io/assets/icons/{{ coin.symbol }}@2x.png" alt="Icon" width="20" height="20"> {{ coin.symbol }}</td>
            <td>{{ coin.price_usd }}</td>
            <td>{{ coin.changePercent24Hr }}</td>
            <td>{{ coin.vwap24Hr }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
