
<!DOCTYPE html>
{% load custom_filters %}
<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoinCap Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
<!--	<script src=-->
<!--"https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">-->
<!--	</script>-->
<!--	<link rel="stylesheet" href=-->
<!--"https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">-->
<!--	<link rel="stylesheet"-->
<!--		type="text/css" href=-->
<!--"https://use.fontawesome.com/releases/v5.6.3/css/all.css">-->

    <style>
        .price-increase {
            background-color: #f44336; color: #fff;
        }

        .price-decrease {
            background-color: red;
        }

        #dataTable .hidden_row {
            display: none;
        }
    </style>
</head>


<body style="background:rgb(236, 239, 241);">
    <section class="hero is-info" >
        <div class="hero-body">
            <div class="container" >
                <h1 class="title">
                    CoinCap Data
                </h1>
            </div>
        </div>
    </section>
<!--    <p id="prices-container">Test...</p>-->
    <script>

        const pricesWs = new WebSocket('wss://ws.coincap.io/prices?assets=ALL')

        pricesWs.onmessage = function (msg) {
            const data = JSON.parse(msg.data);

            for (const asset in data) {
                if (data.hasOwnProperty(asset)) {
                    updatePrice(asset, data[asset]);
                }
            }
        }

        function updatePrice(asset, price) {
            // Find the row for the asset
            let row = document.getElementById(asset + "_row");
            if (row) {
                // Find the price cell in the row
                let priceCell = row.querySelector('.price-cell');
                if (priceCell) {
                    // Get the current price
                    let currentPrice = parseFloat(priceCell.textContent);

                    // Update the price in the cell


                    let formattedPrice = parseFloat(price).toLocaleString('en-US');
                    priceCell.textContent = formattedPrice;

<!--                    var table = document.getElementById("dataTable");-->
<!--                    var rows = table.getElementsByTagName("tr");-->
<!--                    for(var i = 0; i < rows.length; i++){-->
<!--                        var row = rows[i];-->
<!--                        var cells = row.getElementsByTagName("td");-->
<!--                        // Change the row color based on the price change-->
<!--                        if (cells[i].textContent > currentPrice) {-->
<!--                            row.style.backgroundColor = 'green'; // Change to your preferred color for price increase-->
<!--                            row.classList.add('price-increase');-->
<!--                        } else if (priceColor < currentPrice) {-->
<!--                            row.style.backgroundColor = "#f5f5f5"; // Change to your preferred color for price decrease-->
<!--                            row.classList.add('price-decrease');-->
<!--                        }-->
<!--                    }-->

                }
            }
        }
    </script>
    <script type="text/javascript">
		function showHideRow(row) {
			$("#" + row).toggle();
		}
	</script>


        <div class="container text-center" style="margin-top:20px; ">
            <div class="row ">

                 <div class="col-xl-10" style="margin-left:auto !important; margin-right:auto !important;">
<!--                    <div class="col col-lg-2">-->
                        <table class="table table-hover fold-table" border="1" id="dataTable" >
                            <thead>
                                <tr >
                                    <th class="text-center" style="width:10%">Rank</th>
                                    <th colspan="2">Name</th>
                                    <th class="text-center">Price (USD)</th>
                                    <th class="text-center">Market Cap</th>
                                    <th class="text-center">Change (24Hr) (%)</th>
                                    <th class="text-center">VWAP (24Hr)</th>
                                </tr>
                            </thead>
                            <tbody id="dataBody">
                            {% for coin in coins %}
                                <tr onclick="showHideRow('hidden_row1');" id="{{ coin.name.lower }}_row" >
                                    <td style="width: 450px; vertical-align: middle; text-align:center; font-size:1em;">{{ coin.rank }}</td>


                                    <td colspan="2" class="coin-symbol" >
                                        <img src="http://assets.coincap.io/assets/icons/{{ coin.symbol.lower }}@2x.png" alt="Icon" width="25" height="25"  style="font size:5pt;" >
                                        <div style="display: inline-block; vertical-align: middle;" class="ellipsis">
                                            {{ coin.name }}
                                            <p style="font-size: 0.8em; opacity: 0.7;">{{ coin.symbol }}</p>
                                        </div>
                                    </td>
<!--                                    <td class="text-center">{{ coin.price_usd | floatformat:"2g" }}</td>-->


                                    <td class="text-center price-cell" id="price-{{ coin.id }}" style="vertical-align: middle; font-size: 1em; line-height: 1.4285em;">{{ coin.price_usd | floatformat:"2g" }}</td>
                                    <td class="text-center" style="vertical-align: middle; font-size: 1em;">${{ coin.marketCapUsd | format_large_number }}</td>
                                    <td class="text-center" style="vertical-align: middle; font-size:1em;">
                                        {% if coin.changePercent24Hr > '0' %}
                                            <snap style="color:green;">{{ coin.changePercent24Hr | floatformat:"2" }}% </snap>
                                        {% elif coin.changePercent24Hr <= '0' %}
                                            <snap style="color:red;">{{ coin.changePercent24Hr | floatformat:"2" }}%</snap>
                                        {% endif %}
                                    </td >
                                    <td class="text-center" style="vertical-align: middle; font-size: 1em;">{{ coin.vwap24Hr | floatformat:"2g"  }}</td>
                                </tr>

                                <tr id="hidden_row1" class="hidden_row">
                                    <td colspan=8>
                                        Person-1 is 24 years old and
                                        he is a computer programmer
                                        he earns 60000 per month
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
<!--                        <table id="prices-table">-->
<!--                            <thead>-->
<!--                                <tr>-->
<!--                                    <th>Asset</th>-->
<!--                                    <th>Price</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                                <tr>-->
<!--                                    <td>Bitcoin</td>-->
<!--                                    <td id="BitcoinPrice"></td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>Ethereum</td>-->
<!--                                    <td id="EthereumPrice"></td>-->
<!--                                </tr>-->
<!--                                &lt;!&ndash; Add more rows for other assets if needed &ndash;&gt;-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

</body>
</html>
